@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-black-900: #0f1729;

  --color-blue-600: #2136f2;

  --color-gray-100: #f9fafb;
  --color-gray-200: #e1e7ef;
  --color-gray-600: #65758b;

  --color-purple-600: #7c43ef;

  --color-orange-600: #e76e50;
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .grid-center {
    @apply grid place-items-center;
  }
  .text-base-bold {
    @apply text-base font-bold;
  }
  .text-lg-bold {
    @apply text-lg font-bold;
  }
  .text-sm-light {
    @apply text-sm font-light;
  }
}

/* input search 클리어 버튼 css */
@layer base {
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }
}
