@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-black-900: #0f1729;

  --color-blue-600: #2136f2;

  --color-gray-200: #e1e7ef;
  --color-gray-600: #65758b;
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .grid-center {
    @apply grid items-center justify-center;
  }
  .text-base-bold {
    @apply text-base font-bold;
  }
  .text-lg-bold {
    @apply text-lg font-bold;
  }
  .text-sm-light {
    @apply text-sm font-light;
  }
}
